* {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}
.nav-menu{
    max-width: 90vw;
    margin: auto;
    padding: 1.25vw;
    background-color: blue;
    color: white;
}

#nav-bar{
    max-width: 60vw;
    text-align: center;
}
#content{
    max-width: 90vw;
    margin: 30px auto;
}
#card{
    width: 16vw;
    height: 300px;
    padding: 2vw;
    margin: 1vw 1.25vw;
    background-color: red;
    float: left;
    text-align: center;
}

/* .card2{
    width: 20vw;
    height: 200px;    
    padding: 1vw;
    background-color: rgb(255, 191, 0);
    margin: 1.25vw auto;
    text-align: center;
}

.card3{
    width: 20vw;
    height: 200px;
    padding: 1vw;
    background-color: rgb(255, 191, 0);
    margin: 1.25vw auto;
    /* text-align: center; */



#title{
    display: inline-block;
    margin-bottom: 20px;
}
#a-link{
    margin-left: 10px;
    margin-right: 20px;
}
.links{
    display: flex;
    text-decoration: none;
    float: right;
}
a{
    color: inherit;
    text-decoration: none;
}




